*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --heading-background-color:rgb(248, 244, 245);
    --heading-text-color:#333;
    --heading-font:'Monteserrat',Helevitica,sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 /0.1);
}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 10px;
}
h1 {
    background-color: var(--heading-background-color);
    font-family: var(--heading-font);
    padding: .5rem;
    color: darkblue;
}
main img {
    float: right;
    width: 120px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
p {
    margin: 1rem;
    padding: 10px;
}
main {
    max-width: 640px;
}
aside{  
    width: 20rem;
    margin: 1rem;
    text-align: center;
    position: relative;
}
aside img{
    padding: var(--padding);
    width: 300px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 50px;
    left: 80px;
}
p{
    padding: var(--padding);
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* My class selectors starts from here */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}